.container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-neomorphism);

  div {
    width: 200px;
    height: 200px;
    border-radius: var(--radius-primary);
    background: #272525;
    color: var(--text-color-secondary);
    box-shadow: var(--box-shadow-neomorphism);
  }
}
