.container {
  width: 100%;
  -webkit-box-shadow: 0 4px 6px -6px var(--text-color-secondary);
  -moz-box-shadow: 0 4px 6px -6px var(--text-color-secondary);
  box-shadow: 0 4px 6px -6px var(--text-color-secondary);
}

.navContainer {
  max-width: 1500px;
  margin: 0 auto;
  height: 100px;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 468px) {
    padding: 0 10px;
    height: 60px;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.item {
  padding: 15px 30px;
  margin-right: 20px;
}

.item:last-child {
  margin-right: 0;
}

.normallA {
  font-size: 1.4rem;
  line-height: 1.6rem;
  vertical-align: middle;
  transition: 0.35s;

  &.normallA:hover {
    color: var(--text-color-secondary);
  }
}

.activeLink {
  color: var(--text-color-secondary);
  font-size: 1.4rem;
  line-height: 1.6rem;
  vertical-align: middle;
}
