.container {
  width: 100%;
  -webkit-box-shadow: 0 4px 6px -6px var(--text-color-primary);
  -moz-box-shadow: 0 4px 6px -6px var(--text-color-primary);
  box-shadow: 0 4px 6px -6px var(--text-color-primary);
}

.navContainer {
  max-width: 1300px;
  margin: 0 auto;
  height: 100px;
  padding: 15px 60px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 468px) {
    padding: 0 10px;
    height: 60px;
  }
}

.logoWrapper {
  width: 100px;
  height: 100px;
  cursor: pointer;

  @media screen and (max-width: 468px) {
    width: 60px;
    height: 60px;
  }
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.item {
  padding: 15px 30px;
  margin-right: 20px;
}

.item:last-child {
  margin-right: 0;
}

.normallA {
  font-size: 1.4rem;
  line-height: 1.6rem;
  vertical-align: middle;
  font-weight: 700;
  transition: 0.35s;

  &.normallA:hover {
    color: var(--text-color-secondary);
  }
}

.active {
  color: var(--text-color-secondary);
  font-size: 1.4rem;
  line-height: 1.6rem;
  vertical-align: middle;
}

/*Hamburger icon*/
.hamburger {
  width: 60px;
  height: 60px;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: white;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* hamburger logic */

#hamburger6.isActive {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger6.isActive .line:nth-child(2) {
  width: 0px;
}

#hamburger6.isActive .line:nth-child(1),
#hamburger6.isActive .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger6.isActive .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger6.isActive .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

/*finish hamburger logic*/
/*finish whole hamburger icon*/
