@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&family=Mina:wght@400;700&display=swap");
/*font-family: 'Comfortaa', cursive, sans-serif;
font-family: 'Mina', sans-serif;*/

:root {
  --text-color-primary: rgb(30, 30, 30);
  --text-color-secondary: #39ff14;
  --background-color-primary: #ffffff;
  --box-shadow-card: 0 5px 10px rgba(0, 0, 0, 0.19), 0 0 0 rgba(0, 0, 0, 0.23);
  --box-shadow-neomorphism: inset -7px -7px 12px #161616,
    inset 7px 7px 12px #262626;
  --radius-primary: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 14px;
  font-family: "Mina", sans-serif;
  color: var(--text-color-primary);
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", sans-serif;
}
